.card-container {
  display: inline-grid;
}

.card-element {
  background-color: white;
}
.card-element:hover {
  cursor: pointer;
}
.card-description {
  font-size: 0.8rem;
}

.card-date {
  font-size: 0.6rem;
}

.card-title {
  font-size: 0.8rem;
}

.card-anchor {
  text-decoration: none;
}

.card-anchor:focus {
  outline: none;
}
